<!doctype html>
<html lang="en">

<head>
    <title>banner</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

</head>

<body>
    <header>
        <!-- place navbar here -->
        <%- include('../layouts/adminHeader.ejs') %>
    </header>
    <main>

        <title>Banners</title>
        <aside>
            <a href="/admin/products"
                style="color: rgb(45, 81, 172); position: absolute; left: 50px; top: 80px; font-size: 15px; font-weight: bold; "
                class="btn"> <-Back </a>
        </aside>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-3">
                    <h2>Add Banner</h2>
                    <form action="/admin/banners/add" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="name">Banner Name</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="image">Banner Image</label>
                            <input type="file" class="form-control" id="image" name="image" accept="image/*" required>
                        </div>
                        <div class="form-group">
                            <label for="startDate">Start Date</label>
                            <input type="date" class="form-control" id="startDate" name="startDate" required>
                        </div>
                        <div class="form-group">
                            <label for="endDate">End Date</label>
                            <input type="date" class="form-control" id="endDate" name="endDate" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Banner</button>
                    </form>
                </div>

                <div class="col-md-9">
                    <h2>Banner List</h2>
                    <% if (banner.length> 0) { %>
                        <table class="table col-12">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Image</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% banner.forEach(banner=> { %>
                                    <tr>
                                        <td>
                                            <%= banner.name %>
                                        </td>
                                        <td>
                                            <img src="/images/bannerImages/<%= banner.image %>"
                                                alt="<%= banner.name %> Image"
                                                style="max-width: 100px; max-height: 100px;">
                                        </td>
                                        <td>
                                            <%= banner.startDate.toDateString() %>
                                        </td>
                                        <td>
                                            <%= banner.endDate.toDateString() %>
                                        </td>
                                        <td>
                                            <a href="/admin/banners/edit/<%= banner._id %>" class=" ">Edit</a>
                                            <a href="javascript:void(0);" class=" text-danger"
                                                onclick="confirmDelete('<%= banner._id %>','/admin/banners/delete/','You will not be able to recover this banner')">Delete</a>
                                        </td>
                                    </tr>
                                    <% }); %>
                            </tbody>
                        </table>
                        <% } else { %>
                            <p>No banners available.</p>
                            <% } %>
                </div>

            </div>
        </div>

    </main>
    <footer>
        <!-- place footer here -->
        <%- include('../layouts/adminFooter.ejs') %>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>