<!doctype html>
<html lang="en">

<head>
    <title>product detail</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/image-uploader/2.0.7/image-uploader.min.css" />





    <style>
        div.product-image {
            position: relative;
            width: 40%;
            background-size: cover;
        }

        .btn {
            z-index: 2;
            /* or any value higher than other elements */
        }

        div.product-image img {
            width: 100%;
            height: auto;
        }

        .magnifier-lens {
            position: absolute;
            top: 0;
            left: 0;
            width: 200px;
            height: 200px;

            background-color: #ff980030;
            border: 0.1px solid var(--orange);
            opacity: 0;
        }

        .magnifier-lens:hover {
            cursor: zoom-in;
        }

        .magnifier-lens.active {
            opacity: 1;
        }

        .magnified-image {
            position: absolute;
            z-index: 2;
            /* or any value higher than other elements */
            top: 0;
            left: 0;
            width: 100%;
            height: 80vh;
            border: 2px solid #ff9800;
            transform: scale(0.5);
            opacity: 0;
        }

        .magnified-image.active {
            opacity: 1;
            transform: scale(1);
            image-rendering: crisp-edges;
            z-index: 3;
        }
    </style>

    <style>
        /* Add your custom styles here */
        .product-image-container {
            position: relative;
            overflow: hidden;
        }

        .product-image {
            width: 100%;
            height: auto;
            transition: transform 0.3s ease;
        }

        .product-image:hover {
            transform: scale(1.2);
        }

        .magnified-image-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 200px;
            /* Adjust the size as needed */
            height: 200px;
            /* Adjust the size as needed */
            overflow: hidden;
            display: none;
        }

        .magnified-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            /* Ensure the image covers the container */
        }

        .product-image-container:hover .magnified-image-container {
            display: block;
        }
    </style>


</head>

<body>
    <header>
        <!-- place navbar here -->
        <%- include('../layouts/header.ejs') %>
    </header>
    <main class="py-0">
        <% if (messages.error) { %>
            <div class="alert alert-danger">
                <%= messages.error %>
                    <button type="button" class="close" aria-label="Close" onclick="closeFlashMessage()">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <% } else if (messages.success) { %>
                <div class="alert alert-success">
                    <%= messages.success %>
                        <button type="button" class="close" aria-label="Close" onclick="closeFlashMessage()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <% } %>

                    <div class="container mt-md-4 mt-sm-5 pt-sm-5 pt-5 mt-4 pt-md-4">
                        <div class="row">
                            <!-- <aside class="col-lg-6">
                    <img id="largeImage" style="
                  width: 100%;
                  height: 450px;
                  max-height: 80vh;
                  margin: auto;
                  background-size: cover;
                  -webkit-background-size: cover; 
                  " class="rounded-4 fit border product-image"
                        src="/images/productImages/<%=ProductData.variants[0].images[0] %>"
                        data-image="/images/productImages/<%=ProductData.variants[0].images[0] %>"
                        data-color="<%=ProductData.variants[0].color %>" />
                    <div class="magnifier-container" id="magnifier-container">

                    </div>





                    <div class="d-flex justify-content-evenly mt-3 mb-3 h-50 flex-wrap">
                        <img width="150" height="150" class="rounded-2 border"
                            src="/images/productImages/<%=ProductData.variants[0].images[1] %>"
                            data-image="/images/productImages/<%=ProductData.variants[0].images[1] %>" />
                        <img width="150" height="150" class="rounded-2 border"
                            src="/images/productImages/<%=ProductData.variants[0].images[2] %>"
                            data-image="/images/productImages/<%=ProductData.variants[0].images[2] %>" />
                        <img width="150" height="150" class="rounded-2 border"
                            src="/images/productImages/<%=ProductData.variants[0].images[3] %>"
                            data-image="/images/productImages/<%=ProductData.variants[0].images[3] %>" />
                    </div>
                </aside> -->
                            <aside class="col-lg-6">
                                <div class="product-image-container">
                                    <% if (ProductData.variants.length> 0 && ProductData.variants[0].images.length > 0)
                                        { %>
                                        <% if (ProductData.variants[0].images[0].startsWith('data:image/')) { %>
                                            <img id="largeImage" class="rounded-4 fit border product-image"
                                                src="<%= ProductData.variants[0].images[0] %>"
                                                data-image="<%= ProductData.variants[0].images[0] %>"
                                                data-color="<%= ProductData.variants[0].color %>" />
                                            <% } else { %>
                                                <img id="largeImage" class="rounded-4 fit border product-image"
                                                    src="/images/productImages/<%= ProductData.variants[0].images[0] %>"
                                                    data-image="/images/productImages/<%= ProductData.variants[0].images[0] %>"
                                                    data-color="<%= ProductData.variants[0].color %>" />
                                                <% } %>
                                                    <div class="magnified-image-container">
                                                        <% if
                                                            (ProductData.variants[0].images[0].startsWith('data:image/'))
                                                            { %>
                                                            <img class="magnified-image"
                                                                src="<%= ProductData.variants[0].images[0] %>" />
                                                            <% } else { %>
                                                                <img class="magnified-image"
                                                                    src="/images/productImages/<%= ProductData.variants[0].images[0] %>" />
                                                                <% } %>
                                                    </div>
                                                    <% } else { %>
                                                        <div>No image available</div>
                                                        <% } %>
                                </div>
                                <!-- Add your smaller images here -->
                                <div class="d-flex justify-content-evenly mt-3 mb-3 h-50 flex-wrap">
                                    <% for (let i=1; i < Math.min(ProductData.variants[0].images.length, 4); i++) { %>
                                        <% if (ProductData.variants[0].images[i].startsWith('data:image/')) { %>
                                            <img width="150" height="150" class="rounded-2 border"
                                                src="<%= ProductData.variants[0].images[i] %>"
                                                data-image="<%= ProductData.variants[0].images[i] %>" />
                                            <% } else { %>
                                                <img width="150" height="150" class="rounded-2 border"
                                                    src="/images/productImages/<%= ProductData.variants[0].images[i] %>"
                                                    data-image="/images/productImages/<%= ProductData.variants[0].images[i] %>" />
                                                <% } %>
                                                    <% } %>
                                </div>
                            </aside>




                            <div class="col-lg-6" style="position: relative">
                                <div class="magnified-image image-uploader"></div>

                                <div class="ps-lg-3">
                                    <h5 class=" text-dark mt-5 mt-xl-0 mt-md-0">
                                        <%=ProductData.name %>
                                    </h5>

                                    <div class="d-flex flex-row my-3">
                                        <% if(ProductData.stock !==0) { %>
                                            <span class="text-success fw-bold ms-2"> In Stock </span>
                                            <% } else { %>
                                                <span class="text-danger fw-bold ms-2"> Out Of Stock </span>
                                                <% } %>
                                    </div>

                                    <div class="mb-3 d-flex">
                                        <span class="h4 me-3">

                                            <% discountedPrice=Number(ProductData.price - (ProductData.price *
                                                (ProductData.discount / 100))); %>
                                                <span class="h4 me-3">
                                                    Rs:<%= discountedPrice %>
                                                </span>
                                        </span>
                                        <span class="h5 fw-light text-danger me-3">
                                            <s>
                                                <%= ProductData.price %>
                                            </s>
                                        </span>
                                        <p class="card-text text-success mb-0">
                                            <%= ProductData.discount %>% off
                                        </p>
                                    </div>
                                </div>

                                <!-- <div class="row mb-4 mt-1 justify-content-center ml-1">
                        <div
                            class="col-12 col-md-8 col-xl-8 col-xxl-8 d-flex justify-content-between w-100 text-center flex-md-nowrap flex-xxl-nowrap">
                            <form id="addToCartForm" action="/buy-now" method="post" class="d-flex flex-wrap w-100">
                                <input type="hidden" name="product_id" value="<%= ProductData._id %>" />
                                <input type="hidden" name="name" value="<%= ProductData.name %>" />
                                <input type="hidden" name="price" value="<%= ProductData.price %>" />
                                <input type="hidden" name="imageURL"
                                    value="/images/productImages/<%= ProductData.variants[0].images[0] %>" />
                                <a href="/add-to-cart" id="addToCartButton"
                                    class="btn btn-primary d-flex align-items-center justify-content-center me-2 mb-2"
                                    style="width: 300px; height: 60px">Add To Cart</a>
                                <button type="submit" id="buyNowButton"
                                    class="btn btn-warning d-flex align-items-center justify-content-center mb-2"
                                    style="width: 300px; height: 60px">Buy Now</button>
                            </form>
                        </div>
                    </div> -->
                                <div class="row mb-4 mt-1 justify-content-center ml-1">
                                    <div
                                        class="col-12 col-md-8 col-xl-8 col-xxl-8 d-flex justify-content-between w-100 text-center flex-md-nowrap flex-xxl-nowrap">

                                        <!-- Form for Add To Cart action -->
                                        <form id="addToCartForm" action="/add-to-cart" method="post"
                                            class="d-flex flex-wrap w-100">
                                            <input type="hidden" name="product_id" value="<%= ProductData._id %>" />
                                            <input type="hidden" name="name" value="<%= ProductData.name %>" />
                                            <input type="hidden" name="price" value="<%= ProductData.price %>" />
                                            <input type="hidden" name="imageURL"
                                                value="/images/productImages/<%= ProductData.variants[0].images[0] %>" />
                                            <!-- Add more hidden fields if needed -->

                                            <button type="submit" id="addToCartButton"
                                                class="btn btn-primary d-flex align-items-center justify-content-center me-2 mb-2"
                                                style="width: 300px; height: 60px">Add To Cart</button>
                                        </form>

                                        <!-- Form for Buy Now action -->
                                        <form id="buyNowForm" action="/buy-now" method="post"
                                            class="d-flex flex-wrap w-100">
                                            <input type="hidden" name="product_id" value="<%= ProductData._id %>" />
                                            <input type="hidden" name="name" value="<%= ProductData.name %>" />
                                            <input type="hidden" name="Price" value="<%= ProductData.price %>" />
                                            <input type="hidden" name="discountedPrice" value="<%= discountedPrice %>">
                                            <!-- <input type="hidden" name="imageURL"
                                                value="/images/productImages/<%= ProductData.variants[0].images[0] %>" /> -->
                                            <input type="hidden" name="imageURL"
                                                value="<%= ProductData.variants[0].images[0].startsWith('data:image/') ? ProductData.variants[0].images[0] : '/images/productImages/' + ProductData.variants[0].images[0] %>" />
                                            <button type="submit" id="buyNowButton"
                                                class="btn btn-warning d-flex align-items-center justify-content-center mb-2"
                                                style="width: 300px; height: 60px">Buy Now</button>
                                        </form>

                                    </div>
                                </div>


                                <p class="font-weight-bold justify-content-between">Choose Color:</p>

                                <div class="d-flex flex-wrap gap-3 mb-4">
                                    <% ProductData.variants.forEach(variant=> { %>
                                        <div class="d-flex flex-column align-items-center">
                                            <a href="/home/product/details/<%=ProductData._id%>/filter/<%=variant.color  %>"
                                                class="color-selector" data-color="<%= variant.color %>"
                                                data-image="/images/productImages/<%= variant.images[0] %>">
                                                <!-- <img style="position: relative; z-index: 2" width="50" height="50"
                                                    src="/images/productImages/<%= variant.images[0] %>" alt="" /> -->
                                                <% if (ProductData.variants[0].images[0].startsWith('data:image/')) { %>
                                                    <img style="position: relative; z-index: 2" width="50" height="50"
                                                        src="<%= ProductData.variants[0].images[0] %>" />
                                                    <% } else { %>
                                                        <img style="position: relative; z-index: 2" width="50"
                                                            height="50"
                                                            src="/images/productImages/<%= ProductData.variants[0].images[0] %>" />
                                                        <% } %>

                                            </a>
                                            <p>
                                                <%= variant.color %>
                                            </p>
                                        </div>
                                        <% }) %>
                                </div>

                                <ul>
                                    <p class="font-weight-bold">About this item</p>
                                    <% var descriptionPoints=ProductData.description.split(/\.\s+/);
                                        descriptionPoints.forEach(function(point) { %>
                                        <li>
                                            <%= point %>
                                        </li>
                                        <% }); %>
                                </ul>
                            </div>
                        </div>
                    </div>
    </main>


    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/magnifier.js/1.5.0/magnifier.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/magnify@1.5.0/dist/js/magnify.min.js"></script>





    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Get references to the large and smaller images
            const largeImage = document.getElementById("largeImage");
            const smallerImages = document.querySelectorAll(".rounded-2.border");

            // Add click event listener to each smaller image
            smallerImages.forEach(function (smallerImage) {
                smallerImage.addEventListener("click", function () {
                    // Store the current large image source
                    const originalLargeImageSrc = largeImage.src;

                    // Store the current data-image attribute of the large image
                    const originalLargeImageDataImage =
                        largeImage.getAttribute("data-image");

                    // Update the source attribute of the large image with the clicked small image
                    largeImage.src = smallerImage.getAttribute("data-image");
                    // Update the data-image attribute of the large image with the clicked small image data-image
                    largeImage.setAttribute(
                        "data-image",
                        smallerImage.getAttribute("data-image")
                    );

                    // Update the source attribute of the clicked small image with the original large image
                    smallerImage.src = originalLargeImageSrc;
                    // Update the data-image attribute of the clicked small image with the original large image data-image
                    smallerImage.setAttribute("data-image", originalLargeImageDataImage);
                });
            });
        });
        document.addEventListener("DOMContentLoaded", function () {
            const largeImage = document.getElementById("largeImage");
            const colorSelectors = document.querySelectorAll(".color-selector");

            colorSelectors.forEach(function (colorSelector) {
                colorSelector.addEventListener("mouseover", function () {
                    const color = colorSelector.getAttribute("data-color");
                    const imageSrc = colorSelector.getAttribute("data-image");
                    updateImage(imageSrc, color);
                });
            });

            function updateImage(newImageSrc, color) {
                largeImage.src = newImageSrc;
                largeImage.setAttribute("data-image", newImageSrc);
                largeImage.setAttribute("data-color", color);
            }
        });
    </script>


    <!-- <script>
        function addToCart() {
            fetch('/add-to-cart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    product_id: '<%= ProductData._id %>',
                    name: '<%= ProductData.name %>',
                    price: '<%= ProductData.price %>',
                    imageURL: '/images/productImages/<%= ProductData.variants[0].images[0] %>',
                }),
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);

                    // Redirect to the cart page after adding to the cart
                    // window.location.href = '/cart';
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    </script> -->

    <script>
        function closeFlashMessage() {
            const flashMessage = document.querySelector('.alert.alert-danger, .alert.alert-success');
            if (flashMessage) {
                flashMessage.remove();
            }
        }
    </script>









    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnify/2.3.3/js/jquery.magnify.min.js"
        integrity="sha512-YKxHqn7D0M5knQJO2xKHZpCfZ+/Ta7qpEHgADN+AkY2U2Y4JJtlCEHzKWV5ZE87vZR3ipdzNJ4U/sfjIaoHMfw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- <script src="/js/imageZoom.js"></script> -->
    <footer>
        <!-- place footer here -->


    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>