<!doctype html>
<html lang="en">

<head>
    <title>Return Orders</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body>
    <header>
        <!-- place navbar here -->
        <%- include('../layouts/header.ejs') %>
    </header>
    <main>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <a href="/viewUserOrders">
                        <-- back</a>
                            <!-- Display Order Details Section -->
                            <div class="card">
                                <% orderDetails.items.forEach((item, index)=> { %>
                                    <% if (item.product && item.product.variants && item.product.variants.length> 0 &&
                                        item.product.variants[0].images && item.product.variants[0].images.length > 0) {
                                        %>
                                        <img src="/images/productImages/<%= item.product.variants[0].images[0] %>"
                                            class="card-img-top" alt="Product Image">
                                        <% } else { %>
                                            <p>Image not available</p>
                                            <% } %>
                                                <div class="card-body">
                                                    <p class="card-text">Product Name:<b>
                                                            <%= item.product.name %>
                                                        </b> </p>
                                                    <p class="card-text">Quantity:<b>
                                                            <%= item.quantity %>
                                                        </b>
                                                    </p>
                                                    <p class="card-text">Price:<b>$<%= orderDetails.totalAmount %></b>
                                                    </p>
                                                </div>
                                                <!-- <% if (index < orderDetails.items.length - 1) { %>
                                                    <hr>
                                                    <% } %> -->
                                                <% }); %>
                            </div>

                </div>
                <div class="col-md-8">
                    <!-- Return Form Section -->
                    <h2 class="text-center mb-4">Return Order</h2>
                    <form action="/submitOrderReturn" method="post">
                        <div class="form-group">
                            <label for="orderNumber">Order Number</label>
                            <input type="text" class="form-control" name="orderNumber" id="orderNumber"
                                value="<%= orderDetails._id %>" readonly>
                        </div><br>
                        <div class="form-group">
                            <label for="returnReason">Reason for Return</label>
                            <textarea class="form-control" name="returnReason" id="returnReason" rows="3"
                                placeholder="Enter the reason for your return"></textarea>
                        </div><br>
                        <div class="form-group">
                            <label for="returnOptions">Return Options</label>
                            <select class="form-control" name="returnOptions" id="returnOptions">
                                <option>Select an option</option>
                                <option>Refund</option>
                                <option>Exchange</option>
                            </select>
                        </div><br>
                        <input type="hidden" name="userID" value="<%= userId %>">
                        <button type="submit" class="btn btn-primary">Submit
                            Return</button>
                    </form>
                </div>
            </div>
        </div>
    </main>


    <!-- <script>
        async function submitOrderReturn() {
            try {
                const orderNumber = document.getElementById('orderNumber').value;
                const returnReason = document.getElementById('returnReason').value;
                const returnOptions = document.getElementById('returnOptions').value;
                const userID = document.getElementsByName('userID')[0].value;

                const response = await fetch('/admin/orders', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        orderNumber,
                        returnReason,
                        returnOptions,
                        userID,
                    }),
                });

                if (response.ok) {
                    // Update the order status client-side
                    const updatedOrder = await fetch(`/submitOrderReturn`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            orderNumber,
                            returnReason,
                            returnOptions,
                        }),
                    }).then(res => res.json());

                    if (updatedOrder && updatedOrder.success) {
                        // Redirect to viewUserOrders on success
                        window.location.href = '/viewUserOrders';
                    } else {
                        console.error('Error updating order status:', updatedOrder.message);
                    }
                } else {
                    console.error('Error:', response.statusText);
                }
            } catch (error) {
                console.error('Error:', error);
            }
        }
    </script> -->
    <script>
        async function submitOrderReturn() {
            try {
                const orderNumber = document.getElementById('orderNumber').value;
                const returnReason = document.getElementById('returnReason').value;
                const returnOptions = document.getElementById('returnOptions').value;
                const userID = document.getElementsByName('userID')[0].value;




                // Update the order status client-side
                const updatedOrder = await fetch(`/submitOrderReturn`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        orderNumber,
                        returnReason,
                        returnOptions,
                    }),
                }).then(res => res.json());

                if (updatedOrder && updatedOrder.success) {
                    // Redirect to viewUserOrders on success
                    window.location.href = '/viewUserOrders';
                } else {
                    console.error('Error updating order status:', updatedOrder.message);
                }

            } catch (error) {
                console.error('Error:', error);
            }
        }
    </script>


    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>