<!doctype html>
<html lang="en">

<head>
    <title>viewUserOrders</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <style>
        body {
            background-color: #eee;
        }

        table.table tbody tr {
            height: 40px;
            /* Adjust the height as needed */
        }

        /* Make buttons smaller */
        .btn {
            padding: 6px 12px;
            font-size: 14px;
            /* Adjust the font size as needed */
        }
    </style>
</head>

<body>
    <header>
        <!-- place navbar here -->
        <%- include('../layouts/header.ejs') %>
    </header>
    <main>
        <% if (messages.error) { %>
            <div class="alert alert-danger">
                <%= messages.error %>
                    <button type="button" class="close" aria-label="Close" onclick="closeFlashMessage()">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <% } else if (messages.success) { %>
                <div class="alert alert-success">
                    <%= messages.success %>
                        <button type="button" class="close" aria-label="Close" onclick="closeFlashMessage()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <% } %>

                    <div>
                        <p
                            style="font-size: 2rem;  font-family: 'Poppins', sans-serif; margin-left: 16rem;margin-top: 4rem;">
                            orders
                        </p>
                    </div>
                    <section
                        style="background-color: #eee; width: 100%; padding: 10px; border-radius: 7px; margin-bottom: 8rem; margin-top:1rem ;">
                        <div class="container">
                            <section
                                style="background-color: #b3bbc0; width: 80%; margin: 0 auto; padding: 10px; border-radius: 7px;">
                                <div class="container">
                                    <table class="table table-centered mb-0 table-nowrap"
                                        style="background-color: white;">
                                        <thead class="text-center table-dark">
                                            <tr>
                                                <th class="border-top-0" scope="col">Customer</th>
                                                <th class="border-top-0" scope="col">Order Date</th>
                                                <th class="border-top-0" scope="col">Status</th>
                                                <th class="border-top-0" scope="col">Address</th>
                                                <th class="border-top-0" scope="col">Payment Method</th>
                                                <th class="border-top-0" scope="col">Total Amount</th>
                                                <!-- <th class="border-top-0" scope="col">payment</th> -->
                                                <th class="border-top-0" colspan="3"></th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <% orders.forEach((order, orderIndex)=> { %>
                                                <tr>
                                                    <td>
                                                        <% if (order.customer && order.customer.name) { %>
                                                            ⭐<%= order.customer.name %>
                                                                <% } else { %>
                                                                    No Name
                                                                    <% } %>
                                                    </td>
                                                    <td>
                                                        <!-- <%= order.orderDate.toDateString() %> -->
                                                        <%= new Date(order.orderDate).toLocaleString([], {
                                                            dateStyle: 'medium' , timeStyle: 'short' }) %>



                                                    </td>
                                                    <td>
                                                        <% if (order.status==='Cancelled' ) { %>
                                                            <span class="text-danger">
                                                                <%= order.status %>
                                                            </span>
                                                            <% } else if (order.status==='delivered' ) { %>
                                                                <span class="text-success">
                                                                    <%= order.status %>
                                                                </span>
                                                                <% } else if (order.status==='pending' ) { %>
                                                                    <span class="text-info">
                                                                        <%= order.status %>
                                                                    </span>
                                                                    <% } else if (order.status==='processing' ) { %>
                                                                        <span class="text-info">
                                                                            <%= order.status %>
                                                                        </span>
                                                                        <% } else if (order.status==='shipped' ) { %>
                                                                            <span class="text-info">
                                                                                <%= order.status %>
                                                                            </span>
                                                                            <% } else if (order.status==='returned' ) {
                                                                                %>
                                                                                <span style="color: #ff69b4;">
                                                                                    <%= order.status %>
                                                                                </span>
                                                                                <% } else if
                                                                                    (order.status==='returnApproved' ) {
                                                                                    %>
                                                                                    <span style="color: #ff69b4;">
                                                                                        <%= order.status %>
                                                                                    </span>
                                                                                    <% } else if
                                                                                        (order.status==='returnRejected'
                                                                                        ) { %>
                                                                                        <span style="color: red;">
                                                                                            <%= order.status %>
                                                                                        </span>
                                                                                        <% } %>

                                                    </td>

                                                    <td>
                                                        <!-- <%= order.orderAddress %> -->
                                                        <% const orderAddressString=order.orderAddress; %>
                                                            <% if (orderAddressString) { %>
                                                                <% const matches=orderAddressString.match(/'([^']+)'/g);
                                                                    %>
                                                                    <% if (matches) { %>
                                                                        <% const addressComponents=matches.map(match=>
                                                                            match.replace(/'/g, '').trim()); %>
                                                                            <% const
                                                                                filteredComponents=addressComponents.slice(0,
                                                                                -1); %>
                                                                                <% const
                                                                                    addressWithoutId=filteredComponents.join(', '); %>
                                                                <p><%= addressWithoutId %></p>
                                                            <% } else { %>
                                                                <p>No address available</p>
                                                            <% } %>
                                                        <% } else { %>
                                                            <p>No address available</p>
                                                        <% } %>
                                                        
                                                        






                                                    </td>

                                                    <td>
                                                        <%= order.paymentMethod %>
                                                    </td>
                                                    <td>
                                                        <% if (order.couponDiscountPrice !== null) { %>
                                                            $ <%= order.couponDiscountPrice %>
                                                        <% } else { %>
                                                            <!-- $ <%= (order.totalAmount / 100).toFixed(2) %> -->
                                                            $<%= order.totalAmount  %>
                                                        <% } %>
                                                    </td>
                                                    
                                                    <!-- <td>
                                                        payment
                                                    </td> -->
                                                    <td colspan=" 3">
                                                    </td>

                                                    <!-- <% const orderProducts=order.items.map(item=> ({
                                            name: item.product.name,
                                            quantity: item.quantity,
                                            price: item.price,
                                            image: item.product.variants[0].images[0],
                                            productId: item.product._id
                                            })); %> -->

                                                    <td colspan="6"></td>
                                                    <td>
                                                        <!-- <a href="#" class="btn btn-primary view-products-btn"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#mailModal2_<%= orderIndex %>">
                                                            View Products
                                                        </a> -->
                                                        <!-- <a href="/orderDetailPage?orderIndex=<%= orderIndex %>">View
                                                            Products</a> -->
                                                        <a href="/orderDetailPage?orderId=<%= order._id %>">View
                                                            Products</a>

                                                    </td>

                                                    <td>
                                                        <% if (order.status===' Cancelled' ) { %>
                                                                                    <span class="text-danger">
                                                                                        Cancelled
                                                                                    </span>
                                                                                    <% } else if
                                                                                        (order.status==='delivered' ) {
                                                                                        %>
                                                                                        <!-- <span class="text-success">
                                                        completed
                                                    </span> -->
                                                                                        <% const currentDate=new Date();
                                                                                            %>
                                                                                            <% const
                                                                                                daysDifference=Math.floor((currentDate
                                                                                                - order.orderDate) /
                                                                                                (1000 * 60 * 60 * 24));
                                                                                                %>
                                                                                                <% if (daysDifference
                                                                                                    <=7) { %>
                                                                                                    <a href="/returnOrders/<%= order._id %>"
                                                                                                        class="btn btn-sm btn-primary">Return
                                                                                                        Order</a>
                                                                                                    <% } %>
                                                                                                        <% } else if
                                                                                                            (order.status==='returned'
                                                                                                            ) { %>
                                                                                                            <span
                                                                                                                class="text-info">
                                                                                                                <!-- <%= order.status %> -->return
                                                                                                                processing
                                                                                                            </span>
                                                                                                            <% } else if
                                                                                                                (order.status==='processing'
                                                                                                                ) { %>
                                                                                                                <a href="#"
                                                                                                                    class="btn btn-sm btn-primary"
                                                                                                                    data-bs-toggle="modal"
                                                                                                                    data-bs-target="#exampleModal_<%= orderIndex %>">cancel</a>
                                                                                                                <% } else
                                                                                                                    if
                                                                                                                    (order.status==='shipped'
                                                                                                                    ) {
                                                                                                                    %>
                                                                                                                    <a href="#"
                                                                                                                        class="btn btn-sm btn-primary"
                                                                                                                        data-bs-toggle="modal"
                                                                                                                        data-bs-target="#exampleModal_<%= orderIndex %>">cancel</a>
                                                                                                                    <% } else
                                                                                                                        if
                                                                                                                        (order.status==='pending'
                                                                                                                        )
                                                                                                                        {
                                                                                                                        %>
                                                                                                                        <a href="#"
                                                                                                                            class="btn btn-sm btn-primary"
                                                                                                                            data-bs-toggle="modal"
                                                                                                                            data-bs-target="#exampleModal_<%= orderIndex %>">cancel</a>
                                                                                                                        <% } else
                                                                                                                            if
                                                                                                                            (order.status==='returnApproved'
                                                                                                                            )
                                                                                                                            {
                                                                                                                            %>
                                                                                                                            <span
                                                                                                                                style="color: #ff69b4;">
                                                                                                                                return
                                                                                                                                approved
                                                                                                                            </span>
                                                                                                                            <% } else
                                                                                                                                if
                                                                                                                                (order.status==='returnRejected'
                                                                                                                                )
                                                                                                                                {
                                                                                                                                %>
                                                                                                                                <span
                                                                                                                                    style="color: red;">
                                                                                                                                    return
                                                                                                                                    rejected
                                                                                                                                </span>
                                                                                                                                <% }
                                                                                                                                    %>


                                                    </td>
                                                </tr>
                                                <% }); %>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </div>
                    </section>

                    <% orders.forEach((order, orderIndex)=> { %>
                        <!-- view products modal box -->
                        <section>
                            <div class="modal fade" tabindex="-1" role="dialog" id="mailModal2_<%= orderIndex %>">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content border-top border-warning">
                                        <div class="modal-body text-center">
                                            <div class="mt-2 py-2">
                                                <h4 class="h5">View Products</h4>
                                            </div>

                                            <% const orderProducts=order.items.map(item=> ({
                                                name: item.product.name,
                                                quantity: item.quantity,
                                                price: item.price,
                                                image: item.product.variants[0].images[0],
                                                productId: item.product._id
                                                })); %>

                                                <% orderProducts.forEach(product=> { %>
                                                    <div class="card"
                                                        style="width: 18rem; display: inline-block; margin: 10px;">
                                                        <img class="card-img-top"
                                                            src="/images/productImages/<%= product.image %>"
                                                            alt="Product Image">
                                                        <div class="card-body">
                                                            <p class="card-text">
                                                                Name: <b>
                                                                    <%= product.name %>
                                                                </b><br>
                                                                Quantity: <b>
                                                                    <%= product.quantity %>
                                                                </b><br>
                                                                Price: <b>$ <%= product.price %></b><br>
                                                                <a href="/home/product/details/<%= product.productId %>"
                                                                    class="btn btn-outline-primary">View Details</a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <% }); %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <% }); %>

                            <!-- Button trigger modal -->
                            <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Launch demo modal
                </button> -->

                            <% orders.forEach((order, orderIndex)=> { %>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal_<%= orderIndex %>" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                are you sure you want to cancel the order?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                                                <a href="/cancel/<%= order._id %>" class="btn btn-primary">ok</a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>

    </main>



    <!-- Pagination Section -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mt-4">
            <% if (currentPage> 1) { %>
                <li class="page-item">
                    <a class="page-link" href="?page=<%= currentPage - 1 %>&limit=<%= limit %>" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <% } %>

                    <% const visiblePages=2; // Adjust the number of visible page numbers as needed %>
                        <% const startPage=Math.max(1, currentPage - visiblePages); %>
                            <% const endPage=Math.min(totalPages, currentPage + visiblePages); %>

                                <% if (startPage> 1) { %>
                                    <li class="page-item disabled">
                                        <span class="page-link">...</span>
                                    </li>
                                    <% } %>

                                        <% for (let i=startPage; i <=endPage; i++) { %>
                                            <li class="page-item <%= (i === currentPage) ? 'active' : '' %>">
                                                <a class="page-link" href="?page=<%= i %>&limit=<%= limit %>">
                                                    <%= i %>
                                                </a>
                                            </li>
                                            <% } %>

                                                <% if (endPage < totalPages) { %>
                                                    <li class="page-item disabled">
                                                        <span class="page-link">...</span>
                                                    </li>
                                                    <% } %>

                                                        <% if (currentPage < totalPages) { %>
                                                            <li class="page-item">
                                                                <a class="page-link"
                                                                    href="?page=<%= currentPage + 1 %>&limit=<%= limit %>"
                                                                    aria-label="Next">
                                                                    <span aria-hidden="true">&raquo;</span>
                                                                </a>
                                                            </li>
                                                            <% } %>
        </ul>
    </nav>


    <script>
        function closeFlashMessage() {
            const flashMessage = document.querySelector('.alert.alert-danger, .alert.alert-success');
            if (flashMessage) {
                flashMessage.remove();
            }
        }
    </script>

    <footer>
        <!-- place footer here -->
    </footer>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>


</body>

</html>